:root {
	--info-games-list-border: 0.1vh solid #ffffff;
	--postal-font: 'Special Elite';
  --postal-font-color: rgb(175, 0, 0);

	/* Sidebar */
	--sidebar-margin: auto;
	--sidebar-padding: 10px;

	/* Footer */
	--footer-padding: 5px;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;

	background-color: rgb(84, 23, 23);
	margin: 0;
}

.nav {
	height: 6vh;
	width: 100%;

	background-color: rgba(0, 0, 0, 1);
	background-image: url(../img/postal-hub-logo.ico);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: auto 100%;

	color: white;
	list-style-type: none;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.nav a {
	display: flex;
	align-items: center;
	justify-content: center;

	color: inherit;
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	margin: 2px;
	padding: 10px;
	text-decoration: none;
}

.nav a:hover {
	background-color: #ffffff;
	color: #000000;
}

.banner {
	height: 40vh;
	width: 100%;
	display: flex;
	margin: 10px 0 0 0;
}

.banner img {
	height: 100%;
	margin: auto;
}

.main {
	margin: 0 10px;
}

.info-games {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 10px;
}

.info-games-left {
  grid-column: col-start / span 3;
}

.info-games-list {
	background-color: #000000;
	display: block;
	font-family: var(--postal-font);
	font-style: bold;
	margin: 10px auto;
  padding: var(--sidebar-padding);
	height: fit-content;
}

.info-games-list ul {
	text-align: center;
	list-style-type: none;
	display: inherit;
	margin: var(--sidebar-margin);
	padding: var(--sidebar-padding);
}

.info-games-list h1 {
	display: inherit;
	color: var(--postal-font-color);
	font-family: inherit;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0;
  padding: var(--sidebar-padding);
}

.info-games-list a {
	display: inherit;
	color: #ffffff;
	font-family: inherit;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-decoration: none;
	margin: 0;
  padding: var(--sidebar-padding);
}

.info-games-list a:hover {
	color: rgb(162, 0, 0);
}

.gallery {
  color: red;
  background-color: rgba(0, 0, 0, 1);
  margin: 10px auto;
  padding: var(--sidebar-padding);
  text-align: center;
  height: fit-content;
}

.info-text {
	background-color: rgba(0, 0, 0, 1);
	color: #ffffff;
	font-family: "Roboto Slab", serif;
	font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
	margin: 10px auto;
	padding: 25px;

	grid-column: col-start 4 / col-end;
}

.info-text figure, figcaption {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.info-text img {
	height: 200px;
	width: auto;
}

.gallery h1 {
  color: var(--postal-font-color);
  font-family: var(--postal-font);
}

.gallery img {
  margin: auto;
  height: 100px;
}

figure img, figcaption {
	margin: 10px 0;
  font-family: var(--postal-font);
  font-size: 20px;
  font-weight: bold;
}

footer {
	background-color: rgba(0, 0, 0, 1);
	display: flex;
	flex-flow: column;
	justify-content: center;
	height: fit-content;
	width: 100%;
}

footer div {
	max-width: 25vw;
}

.footer-top {
	color: rgba(255, 255, 255, 1);
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.footer-top .footer-container:nth-child(1) {
	color: rgba(255, 255, 255, 0.5);
}

.footer-top .footer-container:nth-child(2) {
	text-align: center;
}

.footer-container {
	text-align: justify;
	text-justify: center;
}

.beg {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	padding: var(--footer-padding);
}

.social-media {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: auto;
}

.social-media a {
	padding: 10px;
}

.footer-container i {
	background-color: rgba(255, 0, 0, 0.225);
	border-radius: 100%;
	color: red;
	padding: 0.5rem;
}

.copyrightName {
	color: rgba(255, 60, 60, 1);
  font-family: monospace;
	font-size: calc(10px + 0.2rem);
	font-weight: bold;
	margin: auto;
	padding: var(--footer-padding);
}
